* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #D9D9D9;
}

body::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 368px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #121214;
}

.page {
  max-width: 736px;
  margin: 0 auto;
}

.page header {
  width: 319px;
  padding-top: 80px;
}

.page header h1 {
  font-family: 'Archivo', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  color: #FFF;
}

.page header p {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #42D3FF;
}

form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  margin-top: 42px;
  padding: 64px;
  border-radius: 8px 8px 0px 0px;
  background-color: #FAFAFC;
}

form fieldset {
  border: none;
}

fieldset legend {
  width: 100%;
  padding-bottom: 16px;
  font-family: 'Archivo', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #32264D;
  border-bottom: 1px solid #E6E6F0;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 24px;
}

.input-wrapper label {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #4E4958;
}

.input-wrapper label span {
  margin-left: 12px;
  font-size: 12px;
  line-height: 20px;
  color: #C1BCCC;
}

.input-wrapper input,
.input-wrapper textarea,
.input-wrapper select {
  height: 56px;
  padding-inline: 24px;
  border: 1px solid #E6E6F0;
  border-radius: 8px;
  background-color: #FAFAFC;
  font-size: 16px;
  line-height: 26px;
  color: #C1BCCC;
}

.input-wrapper textarea {
  max-width: 608px;
  height: 168px;
  padding: 15px 24px;
  line-height: 20px;
}

.input-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_54)'%3E%3Cpath d='M8 10L12 14L16 10' stroke='%239C98A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_54'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right 24px center;
}

.day-and-hour {
  display: flex;
  gap: 20px;
}